header{
    min-height: 10vh;
    background-color: #0052cc;
    border-bottom: 2px white solid;
}

body{
    background-color: #99c2ff;
}

.aside-section, .main-section {
    background-color: lightslategray;
}

.main-section{
    border: white 2px solid;
    padding: 0;
}

.aside-section{
    border-left: white 2px solid;
    border-top: white 2px solid;
    border-bottom: white 2px solid;
}

.weather-card{
    background-color: blueviolet;
    margin: 10px;
    padding: 10px;
}

li{
    list-style: none;
}

.today-weather, .forecast-boxes, .forecast-words{
    margin: 16px;
}

.previous-searches{
    height: 36px;
    border: 1px solid #0066ff;
    margin-bottom: 10px;
    background-color: lightsteelblue;
    margin-left:16px;
    margin-right:16px;
    padding-left: 4px;
    padding-right: 4px;
    width: calc(100%-40px);
    font-size: 24px;
}

@media screen and (max-width: 768px) {
    .previous-searches {
        font-size: 12px;
    }
}

.previous-searches:hover{
    background-color: steelblue;
    cursor: pointer;
}

ul{
    padding-top: 10px;
    padding-left: 0;
    width: 100%;
}

h3{
    margin-top: 12px;
}

.search-text{
    font-size: 24px;
}

button{
    margin-top: 4px;
    width: 100%;
}

h1{
    text-align: center;
    width: 100%;
}

.weather-dudes{
    margin-bottom: 30px;
}















.Thunderstorm{
background-image: url(../images/thunderstorm.jpeg);
background-size: auto;
}
.Drizzle{
background-image: url(../images/drizzle.jpg);
background-size: auto;
}
.Rain{
background-image: url(../images/rainy.jpg);
background-size: auto;
color: white;
}
.Snow{
background-image: url(../images/snowy.jpg);
background-size: auto;
}
.Mist{
background-image: url(../images/mist.jpg);
background-size: auto;
}
.Smoke{
background-image: url(../images/smoke.jpg);
background-size: auto;
}
.Haze{
background-image: url(../images/haze.jpeg);
background-size: auto;
}
.Dust{
background-image: url(../images/dust.jpg);
background-size: auto;
}
.Fog{
background-image: url(../images/fog.jpeg);
background-size: auto;
}
.Sand{
background-image: url(../images/sand.jpg);
background-size: auto;
}
.Ash{
background-image: url(../images/ash.jpg);
background-size: auto;
}
.Squall{
background-image: url(../images/squall.jpg);
background-size: auto;
}
.Tornado{
background-image: url(../images/tornado.jpg);
background-size: auto;
}
.Clear{
background-image: url(../images/sunny.jpg);
background-size: auto;
}
.Clouds{
background-image: url(../images/cloudy.jpg);
background-size: auto;
color:white;
}